{% extends 'base.html' %}

{% block 'content' %}

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="mt-5">{{ contacts.name }}</h1>
            {% if contacts.photo %}
            <p>
                <img src="{{ contacts.photo.url }}"
                     style="max-width: 250px; heigth: auto; margin-top: 15px;">
            </p>
            {% endif %}
            <dl>
                <dt>ID</dt>
                <dd>{{ contacts.id }}</dd>

                <dt>E-mail</dt>
                <dd>{{ contacts.email }}</dd>

                <dt>Contact Number</dt>
                <dd>{{ contacts.contact }}</dd>

                <dt>Creation Date</dt>
                <dd>{{ contacts.creation_date | date:'d/m/Y' }}</dd>

                <dt>Category</dt>
                <dd>{{ contacts.category }}</dd>

                <dt>Details</dt>
                <dd>{{ contacts.description }}</dd>
            </dl>

        </div>
    </div>
</div>

{% endblock %}