{% extends 'base.html' %}

{% block 'content' %}

<div class="content">
    <div class="container">
        <h2 class="mb-5">My Contacts</h2>
        <div class="table-responsive">
            <table class="table table-striped custom-table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Creation Date</th>
                    <th scope="col">Category</th>
                </tr>
                </thead>
                <tbody>
                {% for contact in contacts %}
                {% if contact.to_show %}
                <tr scope="row">
                    <td><a href="{% url 'details' contact.id %}">{{ contact.name }}</a></td>
                    <td>
                        {{ contact.email }}
                    </td>
                    <td>{{ contact.contact }}</td>
                    <td>{{ contact.creation_date | date:'d/m/Y' }}</td>
                    <td>{{ contact.category }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-sm">
            {% for page in contacts.paginator.page_range %}
                {% if contacts.number == page %}
                    <li class="page-item active">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</div>

{% endblock %}